body{
	background-image: url(bg.jpg) ;
	background-size : cover;
}

li{
	list-style: none;
	display: inline-block;
}

h2:hover
{
	color: indianred;
	font-size: xx-large;
	border: 3px solid rgb(0,0,0,0.5);
	text-align: center;
	cursor: pointer;
}

p{
	text-align: center;
}